body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

main {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container {
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #262626;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}

.check-btn, .submit-btn {
    display: block;
    margin: 0 auto;
    width: calc(100% + 20px);
    margin-right: -20px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0095f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.check-btn:hover, .submit-btn:hover {
    background-color: #007bb5;
}


@media (max-width: 768px) {
    main {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 22px;
    }

    input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
        font-size: 13px;
        padding: 8px;
    }

    .check-btn, .submit-btn {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 500px) {
    main {
        padding: 15px;
        max-width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
        font-size: 12px;
        padding: 6px;
    }

    .check-btn, .submit-btn {
        font-size: 13px;
        padding: 6px;
    }
}