

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}

h1 {
    font-size: 32px;
    color: #262626;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

main {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 5px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 14px;
    color: #262626;
}

input[type="password"]:focus {
    border-color: #b2b2b2;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #007ac1;
}

button:disabled {
    background-color: #b2dffc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    main {
        padding: 30px 20px;
    }
}
