
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; 
    color: #333; 
}


header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 28px;
    color: #262626;
}


main {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
}


#post h2 {
    font-size: 24px;
    color: #262626;
    margin-bottom: 10px;
}

#post p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

#deletePost {
    padding: 10px 20px;
    background-color: #ff4757; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deletePost:hover {
    background-color: #e84141; 
}


#addComment {
    margin-top: 40px;
}

#addComment h3 {
    font-size: 18px;
    color: #262626;
    margin-bottom: 10px;
}

#commentContent {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#submitComment {
    padding: 10px 20px;
    background-color: #3897f0; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitComment:hover {
    background-color: #318be5; 
}


#comments h2 {
    font-size: 20px;
    color: #262626;
    margin-bottom: 20px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
}

.comment p {
    font-size: 14px;
    color: #333;
}

.deleteComment {
    padding: 5px 10px;
    background-color: #ff4757;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteComment:hover {
    background-color: #e84141; 
}


@media (max-width: 600px) {
    main {
        padding: 15px;
    }

    #post h2, #comments h2 {
        font-size: 20px;
    }

    #submitComment, #deletePost, .deleteComment {
        width: 100%; 
        padding: 10px;
        margin-top: 10px;
    }
}
