
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; 
    color: #333; 
}


header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 28px;
    color: #262626;
}

main {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
}


#writePost h2 {
    font-size: 24px;
    color: #262626;
    margin-bottom: 20px;
    text-align: center;
}


form div {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #8e8e8e;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


input::placeholder, 
textarea::placeholder {
    color: #ccc;
}


#passwordSection {
    display: none;
}


button[type="submit"] {
    padding: 10px 20px;
    background-color: #3897f0; 
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #318be5; 
}


@media (max-width: 600px) {
    main {
        padding: 15px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}
